@import"bootstrap/dist/css/bootstrap.min.css";


.header{
  color: #3C3030;
  font-family: "Iowan Old Style";
  font-size: 84px;
  margin-bottom:3px;
}
@media (max-width: 576px) {
  .header{
    font-size:35px;
  }
}
@media (min-width: 768px) {
  .header{
    font-size:84px;
  }
} 

@media (max-width: 576px) {
  .circle{
    height:40px;
    padding-bottom:10px;
  }
} 

@media (min-width: 768px) {
  .circle{
    padding-bottom:15px;
  }
} 

.foot{
color:#3C3030;
font-family: "Iowan Old Style";
font-size: 16px;
line-height: 140%; 
}

.headline-box{
  height:408px;
  margin-top:20px;
  margin-bottom:40px;
}

.search-box{
  height:60px;
  width:303px;
  margin-top:45px;
  margin-bottom:45px;
  background-image:url("/Frame 15.png");
  background-repeat:no-repeat;
  padding-left:40px;
  background-position:5px center;
}

.go-button{
  height:60px;
  width:60px;
  background:#E84848;
  margin-top:45px;
  margin-bottom:45px;
  color:white;
}
.head-text{
  margin-top:15px;
  margin-bottom:15px;
}
.footer{
  height:100px;
}